@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  font-family: 'Gowun Dodum', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

article {
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: #f5d042;

  font-size: 18px;
  color: #0a174e;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.kakao_ad {
  position: fixed;
  bottom: 0;
  padding: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

/* 첫 화면 */

.start {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
  margin-top: 100px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.main-img {
  width: 200px;
  height: 200px;

  border-radius: 100%;
}

/* 문제화면 */

.question {
  display: none;
  gap: 20px;
}

.progress-bar {
  width: 100%;
  height: 20px;

  background: #f5d042;
  border-radius: 10px;
}

#ing {
  font-size: 16px;
  text-align: end;
  color: #0a174e;
}

#title {
  width: 300px;
  height: 70px;
  font-size: 16px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  word-break: keep-all;

  border: 2px solid #0a174e;
  border-radius: 5px;
  padding: 10px;
}

.select-button {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: #f5d042;

  font-size: 14px;
  color: #0a174e;

  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* 결과화면 */
.result {
  display: none;

  gap: 10px;
}

.wrap {
  max-width: 330px;
}

#img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 100%;
}

#personName {
  font-size: 18px;
  text-align: center;
}

#explain {
  font-size: 14px;
  text-align: center;
  word-break: keep-all;
}

.share {
  margin: 20px auto;
}
