@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  font-family: 'Gowun Dodum', sans-serif;
  overflow: hidden;
}

button {
  border: none;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

article {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 400px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 5px;
  background-color: #f5d042;

  font-size: 30px;
  color: #0a174e;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.result.on .submit-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.kakao_ad {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

/* 첫 화면 */
.start {
  /* width: max-content; */
  /* height: 400px; */
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.main-img {
  width: 300px;
  height: 3 00px;

  border-radius: 100%;
}

/* 문제화면 */

.question {
  /* width: 100%; */
  width: 600px;
  height: 100%;
  display: none;
  gap: 20px;
}

.question.on {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  width: 100%;
  height: 20px;

  background: #f5d042;
  border-radius: 10px;
}

#ing {
  font-size: 16px;
  text-align: end;
  color: #0a174e;
}

#title {
  width: 100%;
  height: 100px;
  font-size: 30px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;

  border: 2px solid #0a174e;
  border-radius: 5px;
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-button {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: #f5d042;

  font-size: 26px;
  color: #0a174e;

  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* 결과화면 */
.result {
  width: 600px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.result.on {
  display: flex;
}

.wrap {
  width: 600px;
  /* max-width: 330px; */
}

#img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

#personName {
  font-size: 30px;
  text-align: center;
}

#explain {
  width: 100%;
  font-size: 20px;
  text-align: center;
  word-break: keep-all;
}

/* .share {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  margin: 20px auto;
} */